body {
	background-color: black;
}

.main{
	background-color: rgba(236, 236, 236, 0.8);
	background-blend-mode: screen;
	height: 500px;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	position: relative;
	z-index: 1;

}

#how-to,
.streetfighter-logo {
	position: absolute;
	top: 5%;
	right: 0;
	bottom: 0;
	left: 50%;
	max-width: 310px;
	mix-blend-mode: darken;
	color: #F30000;
	text-shadow: 2px 2px 1px darkgrey;
	font-family: Courier, Helvetica, sans-serif;
	font-size: 1.5rem;
	text-align: justify;
	display: none;
}

.ryu {
	float: left;
	width: 659px;
	height: 494px;
}

.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png')
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif')
}

.hadouken, 
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	float: left;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 520px;
	top: 168px;
	display: none;
}



/*Dry Classes
==================*/

.hide {
	display: none;
}

.show {
	display: block;
}


/*Background video
==================*/
video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url('../images/sky.png') no-repeat;
	background-size: cover;
}













